# Created by venv; see https://docs.python.org/3/library/venv.html

# Папки окружения (виртуальные среды, IDE)
Include/
Lib/
Scripts/
pyvenv.cfg

# Файлы окружения
.env

# Миграции (если они генерируются автоматически)
app/migrations/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo

# Логи и временные файлы
*.log
*.tmp
*.temp
/.coverage
