# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/   # Кэш Python
*.py[cod]      # Временные файлы .pyc, .pyo, .pyd
*.so           # Скомпилированные бинарники
.Python        # Файлы виртуального окружения
venv/          # Папка виртуального окружения
.env           # Файл с переменными окружения (пароли, ключи)
.env.local     # Локальные настройки
#/Lib/site-packages
.pytest_cache/ # Кэш pytest
.idea          # pycharm
